version: '3'

services:
    web:
      build:
        dockerfile: ./Dockerfile
      volumes:
        - ./dev:/app/dev/:rw
      command: uvicorn backend.main:app --host 0.0.0.0 --port 8086
      ports:
        - "8086:8086"
